{% extends "base2.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div>
    <form action="" method="POST">
        {{ form.as_p }}
        <input type="submit" value="Wyszukaj">
        {% csrf_token %}
    </form>
    <table>
        <tr>Baza_2</tr>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Data</th>
        </tr>
        {% for record in data %}
        <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.price }}</td>
            <td>{{ record.date }}</td>
        </tr>
        {% endfor %}

    </table>
</div>


{% endblock content %}